@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --primaryfont: 'Poppins', sans-serif;
    --secondaryfont: 'PT Sans', sans-serif;
    --primarycolor: #353535;
    --secondarycolor: #FFCC00;
}
/* COMMON CSS STARTS HERE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 1110px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.center{
    align-items: center;
}
body{
    font-family: var(--primaryfont);
}
/* COMMON CSS ENDS HERE */

/* NAV STARTS HERE */
nav .logo{
    width: 30%;
}
nav .menu{
    width: 70%;
    text-align: right;
}
nav .menu ul li{
    display: inline-block;
    position: relative;
}
nav .menu ul li a{
    display: inline-block;
    color: var(--primarycolor);
font-size: 15px;
font-weight: 500;
line-height: 200%; /* 30px */
text-transform: uppercase;
padding: 18px 23px 5px 23px;
position: relative;
}
nav .menu ul li a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: var(--primarycolor);
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 500ms;
}
nav .menu ul li:hover a::after{
    width: 100%;
    opacity: 1;
}
nav .menu ul li:nth-child(3n + 4)::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--primarycolor);
    bottom: 0;
    left: 0;
    position: absolute;
}
/* NAV ENDS HERE */

/* BLOG STARTS HERE */
#blog .container{
    background-image: url(./Images/banner.png);
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    margin-top: 60px;
    margin-bottom: 123px;
}
#blog h1{
    color: #FFF;
font-family: PT Sans;
font-size: 46px;
font-weight: 700;
line-height: normal;
text-align: center;
}
#blog p{
    color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 600;
line-height: 190%; /* 34.2px */
}
/* BLOG ENDS HERE */

/* CONTENT STARTS HERE */
#content .img{
    width: 50%;
}
#content .text{
    width: 50%;
    padding-left: 30px;
}
#content .text h2{
    color: var(--primarycolor);
font-size: 30px;
font-weight: 600;
line-height: 164.5%; /* 49.35px */
}
#content .text .content{
    color: #7A7A7A;
font-size: 18px;
font-weight: 400;
line-height: 200.5%; /* 36.09px */
margin-top: 13px;
}
#content .text .icon{
    font-size: 18px;
    color: #7A7A7A;
    display: inline-block;
    margin-right: 13px;
}
#content .text .date{
    color: #7A7A7A;
font-size: 18px;
font-weight: 400;
line-height: 190%; /* 34.2px */
margin-top: 35px;
}
#content .text .name{
    color: var(--primarycolor);
font-size: 18px;
font-weight: 500;
line-height: 190%; /* 34.2px */
display: inline-block;
margin-left: 14px;
}
/* CONTENT ENDS HERE */

/* IMAGE SECTION STARTS HERE */
.hover{
    position: relative;
}
.hover .overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0 -21px 0 0;
    border-radius: 20px;
    text-align: center;
    opacity: 0;
    transition: 400ms;
    cursor: pointer;
}
.hover:hover .overlay{
    opacity: 1;
}
.hover .overlay i{
    font-size: 48px;
    color: #BBBBBB;
    padding-top: 130px;
}
#card{
    margin-top: 109px;
    margin-bottom: 137px;
}
#card .cards{
    width: calc(33.33% - 40px);
    margin-bottom: 95px;
    margin: 0 40px 95px 0;
}
#card .cards h3{
    color: var(--primarycolor);
font-size: 20px;
font-weight: 600;
line-height: 190%; /* 38px */
margin-top: 35px;
margin-bottom: 9px;
}
#card .cards .content{
    color: #7A7A7A;
font-size: 16px;
font-weight: 400;
line-height: 200.5%; /* 32.08px */
margin-bottom: 18px;
}
.cards .calendar{
    font-size: 18px;
    color: #7A7A7A;
    display: inline-block;
    margin-right: 13px;
}
.cards .june{
    color: #7A7A7A;
font-size: 16px;
font-weight: 400;
line-height: 190%; /* 30.4px */
}
.cards .john{
    color: var(--primarycolor);
font-size: 16px;
font-weight: 500;
line-height: 190%; /* 30.4px */
display: inline-block;
margin-left: 27px;
}
/* IMAGE SECTION ENDS HERE */

/* FOOTER STARTS HERE */
footer{
    padding: 70px 0 85px 0;
    background-image: url(./Images/footer.png);
    background-size: cover;
    background-position: center;
}
footer .call{
    width: 30%;
    margin-top: 20px;
}
footer .call p{
    color: #BBB9B9;
font-size: 18px;
font-weight: 400;
line-height: 180%; /* 32.4px */
margin-top: 182px;
margin-bottom: 4px;
}
footer .call a{
    color: #FFF;
font-size: 20px;
font-weight: 500;
line-height: 180%; /* 36px */
}
footer .content{
    width: 40%;
}
footer .content h1{
    color: #FFF;
font-size: 36px;
font-weight: 700;
line-height: 200%; /* 72px */
}
footer .content .p1{
    color: #BBB9B9;
font-size: 16px;
font-weight: 400;
line-height: 180%; /* 28.8px */
}
footer .content .p2{
    color: #BBB9B9;
font-size: 18px;
font-weight: 400;
line-height: 180%; /* 32.4px */
margin-top: 94px;
}
footer .content a{
    color: #FFF;
font-size: 20px;
font-weight: 500;
line-height: 180%; /* 36px */
}
footer .socials{
    width: 30%;
}
footer .socials .button{
    display: inline-block;
    background-color: var(--secondarycolor);
    color: white;
    border-radius: 16px;
    padding: 15px 32px;
    margin-top: 40px;
    margin-left: 80px;
}
footer .socials .button span{
    display: inline-block;
    margin-left: 11px;
}
footer .socials .row p{
    color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 180%; /* 32.4px */
}
footer .socials ul li{
    display: inline-block;
}
footer .socials .icons{
    margin-top: 139px;
}
footer .socials .icons p{
    margin-right: 24px;
}
footer .socials .icons ul li a{
    width: 48px;
    height: 48px;
    background-color: #484848;
    display: inline-block;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
    color: white;
}
/* FOOTER ENDS HERE */